body {
  background-color: black;
}

#gameBoard {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-auto-rows: 120px 120px 120px 120px 120px;
  justify-content: center;
  width: 600px;
  height: 600px;

  margin-left: auto;
  margin-right: auto;

}

#gameBoard div{
  background-color: #00AA00;
  background-repeat: no-repeat;
  background-size: cover;
}
/**** sprites ****/
.rider {
  background-image: url("images/rider.png");
}

.mountup {
  background-image: url("images/mount.png");
}
.mountdown {
  background-image: url("images/mountdown.png");
}
.mountright {
  background-image: url("images/mountright.png");
}
.mountleft {
  background-image: url("images/mountleft.png");
}

.mountedup {
  background-image: url("images/mounted.png");
}
.mounteddown {
  background-image: url("images/mounteddown.png");
}
.mountedright {
  background-image: url("images/mountedright.png");
}
.mountedleft {
  background-image: url("images/mountedleft.png");
}

.fenceSide {
  background-image: url("images/fenceside.png");
}
.fenceUp {
  background-image: url("images/fenceup.png");
}
.fenceJumpUp {
  background-image: url("images/fenjump.png");
}
.fenceJumpDown {
  background-image: url("images/fenjumpd.png");
}
.fenceJumpRight {
  background-image: url("images/fenjumpr.png");
}
.fenceJumpLeft {
  background-image: url("images/fenjumpl.png");
}

.flag {
  background-image: url("images/flag.png");
}
.rock {
  background-image: url("images/rock.png");
}
.water {
  background-image: url("images/water.png");
}
.tree {
  background-image: url("images/tree.png");
}

.mobUp {
  background-image: url("images/mob.png");
}
.mobDown {
  background-image: url("images/mobdown.png");
}
.mobRight {
  background-image: url("images/mobright.png");
}
.mobLeft {
  background-image: url("images/mobleft.png");
}

.bridge {
  background-color: #800020 !important;
}
/**** sprite end ****/

.message {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 8em;
  vertical-align: top;
  text-align: center;
  line-height: 100vh;
}
