body {
  background-color: black;
}

#gameBoard {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px 180px 180px;
  grid-auto-rows: 180px 180px 180px 180px 180px;
  justify-content: center;
  width: 1080px;
  height: 900px;

  margin-left: auto;
  margin-right: auto;
  background-image: url("images/grass.png");
  background-size: 50px;
}

#gameBoard div{
  background-repeat: no-repeat;
  background-size: cover;
}
/**** sprites ****/
.rider {
  background-image: url("images/rider.png");
}

.girlup {
  background-image: url("images/anikaup.png");
}
.girldown {
  background-image: url("images/anikadown.png");
}
.girlright {
  background-image: url("images/anikaright.png");
}
.girlleft {
  background-image: url("images/anikaleft.png");
}

.mountedup {
  background-image: url("images/mounted.png");
}
.mounteddown {
  background-image: url("images/mounteddown.png");
}
.mountedright {
  background-image: url("images/mountedright.png");
}
.mountedleft {
  background-image: url("images/mountedleft.png");
}

.fenceSide {
  background-image: url("images/fenceside.png");
}
.fenceUp {
  background-image: url("images/fenceup.png");
}
.fenceJumpUp {
  background-image: url("images/fenjump.png");
}
.fenceJumpDown {
  background-image: url("images/fenjumpd.png");
}
.fenceJumpRight {
  background-image: url("images/fenjumpr.png");
}
.fenceJumpLeft {
  background-image: url("images/fenjumpl.png");
}

.flag {
  background-image: url("images/flag.png");
}
.rock {
  background-image: url("images/rock.png");
}
.rocktwo {
  background-image: url("images/rock2.png");
}
.water {
  background-image: url("images/water.png");
}
.waterBorderUp {
  background-image: url("images/water.png");
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.waterBorderDown {
  background-image: url("images/water.png");
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.tree {
  background-image: url("images/tree.png");
}

.mobUp {
  background-image: url("images/mob.png");
}
.mobDown {
  background-image: url("images/mobdown.png");
}
.mobRight {
  background-image: url("images/mobright.png");
}
.mobLeft {
  background-image: url("images/mobleft.png");
}

.bridge {
  background-color: #800020 !important;
}
/**** sprite end ****/

.message {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 8em;
  vertical-align: top;
  text-align: center;
  line-height: 100vh;
}
